<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Hello page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
<h1>Welcome to My Text Analyzer</h1>
<form action='/analyze' method='get'>
   <textarea name='text' style="margin: 0px; width: 417px; height: 113px;"></textarea> <br>


    <input type="checkbox" name="removepunc"> Remove Punctuations <br>
    <input type="checkbox" name="uppercase"> UPPERCASE <br>
    <input type="checkbox" name="extraspaceremove"> extra space remove <br>

    <button type='submit'>Submit</button>

</form>

</body>
</html>